h1,
h2,
h3,
h4,
h5,
h6 {
  color: #002058 !important;
  font-weight: 500 !important;
}

svg {
  color: #000000;
  font-size: 20px !important;
}



a {
  text-decoration: none !important;
}



a:hover,
a:active,
a:focus {
  outline: none !important;
  text-decoration: none !important;
}

.cancelled-status {
  background-color: #FFE5E5;
  /* Light red background */
  color: #F73636 !important;
  /* Red text color */
}


.cancelled-status svg {
  color: red !important;
}

.cancelled-status svg:hover {
  color: rgb(138, 58, 58) !important;
}


.upcoming-status {
  background-color: #DFF5FF;
  /* Light blue background */
  color: #0367F7;
  /* Blue text color */
}

.upcoming-status:hover {
  background-color: #13a6eb;
  /* Light blue background */
  color: #0d2d58;
  /* Blue text color */
}


.dash-pagination .pagination li a {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e9ecef;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}


.dash-pagination .pagination li.active a,
.dash-pagination .pagination li:hover a {
  background: #ff4667 !important;
  border: 1px solid #ff4667 !important;
  color: #fff !important;
}

.video-thumbnails {
  height: 200px !important;
  /* Set desired height */
  object-fit: cover;
  /* Ensures the image is properly cropped */
  width: 100%;
  /* Maintain full width */
}

.blog-title a:hover {
  color: #f66962;
}

.page-content {
  padding: 56px 0px 0px 0px;
  background: #fbfcff !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.profile-info-blk h4 {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0px;
}

.profile-info-blk h4 a {
  font-size: 32px;
  font-weight: 600;
  color: #002058;
}

.profile-info-blk h4 a:hover {
  color: #f66962;
}

.profile-info-blk h4 span {
  background: #fff;
  padding: 2px 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 20px;
}

.profile-info-blk p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.profile-info-social {
  margin-top: 8px;
  margin-bottom: 0px;
}

.profile-info-social li a {
  color: #ffffff;
}

.profile-info-social li a:hover {
  color: #f66962;
}

.profile-info-social li:not(:last-child) {
  margin-right: 14px;
}

.page-banner.instructor-bg-blk {
  padding: 32px 0;
  text-align: center;
  background: url('../assert/instructor-bg-banner.png') no-repeat center center;
  background-color: #1565c0;
  background-size: cover;
  color: #fff; /* Optional: ensures text is visible on dark background */
}


.profile-info-blk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}

.profile-info-blk .profile-info-img {
  display: block;
  max-width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 5px solid #ffffff;
  margin-bottom: 8px;
}
